.env
.env.local
.envrc
.pytest_cache/
.vscode/
.idea/
__pycache__/
*.py[cod]
*.pyo
.coverage
.coverage.*
coverage.xml
htmlcov/
.mypy_cache/
.ruff_cache/
.hypothesis/
.nox/
.tox/
.venv/
venv/
build/
dist/
*.egg-info/
pip-wheel-metadata/
__pypackages__/
.python-version
*.sqlite3
*.log
.DS_Store
Thumbs.db
